/* Big stuff first*/
 * {
margin: 0;
padding: 0;

 }

body {
    background-color: black;
    scroll-behavior: smooth;

}

h1, p {

color: #ffffff;

}

.text-box {
    background-color: black;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.7;
    width: 47%;
}


#video-background {

    position: fixed;
    left: 0;
    top: 0;
    background: no-repeat center;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}

/*Small stuff / details*/

.icons {
    width: 245px;
    position: absolute;
    margin-top: 130px;
    margin-left: 110px;
}


.section-characters {
    display: flex;
    background-color: #4a2962;
    width: 45%;
    flex-direction: column;
    margin: 50px;
    border-radius: 20px;
}

#logo-header {
    width: 300px;
    padding: 15px;
    transition: transform .2s;
}

header {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(33 47 98 / 0%) 32%, rgba(0, 0, 0, 1) 100%);
    box-shadow: #020206 1px -1px 111px;
    border-radius: 0px 0 0px 70px;
    position:sticky;
    margin-bottom: 100px;
}

nav>ul {

    display: flex;
    gap: 150px;
    align-items: center;
    list-style: none;
    font-size: x-large;
    
}

ul a {
    text-decoration: none;
    color: rgb(255 255 255 / 70%);
    font-family: font2;
    font-size: large;
    font-weight: bolder;
}
/* Effects and stuff */

a:hover {
opacity: 0.6;


}

#logo-header:hover {
opacity: 0.8;
cursor: pointer;
transform: scale(1.02); 


}

footer {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(33 47 98 / 0%) 32%, rgba(0, 0, 0, 1) 100%);
    box-shadow: #36477a 1px -1px 111px;
    position: sticky;
    height: 170px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 50px;
    margin-top: 100px;
}

.text-box-exp {
    width: 70%;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    opacity: 0.7;
}

li {
    list-style: none;
}

.bold {
    color: #01a1ff;
    font-size: larger;
    padding-right: 5px;
    letter-spacing: 3px;
}

@font-face {
  font-family: font1; 
  src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}

@font-face {
  font-family: font2; 
  src: url(fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: font3; 
  src: url(fonts/Rubik_Glitch/RubikGlitch-Regular.ttf);
}

@font-face {
  font-family: font4; 
  src: url(fonts/Special_Elite/SpecialElite-Regular.ttf);
}

@font-face {
  font-family: font5; 
  src: url(fonts/Boldonse/Boldonse-Regular.ttf);
}

p {
  font-family: font1; 
}

h1, .bold {
    font-family: font4;
    font-weight: bolder;
}

 .socials >a>img{
    width: 50px;
}
.socials {
    margin: 10px;
    margin-right: 20px;

}

.text-boxes {

display: flex;

}

.side-content {

    max-width: 1181px;
    background-image: url(img/globe-blue.png);
    border-radius: 10px;
    margin: 20px;

}